body {
    margin: 0;
    font-family: 'Smythe', cursive;
} 

.container {
    width: 600px;
    margin: 0 auto;
}

.header-photo {
    position: absolute;
    width: 600px;
    height: 400px;
    top: -153px;
    
    
}