body {
    margin: 0;
    font-family: 'Smythe', cursive;
    
} 

.container {
    width: 600px;
    margin: 0 auto;
    max-width: 100%;
}

.header-photo {
    position: absolute;
    width: 600px;
    height: 400px;
    top: -153px;
      
}

.h1-text {
    position: absolute;
    width: 169.28px;
    height: 24px;
    top: 46px;

    font-weight: 400;
    font-size: 39px;
    line-height: 24px;
    margin: 0 0 0 46px;

    color: white;
}

.h2-text {
    position: absolute;
    width: 275.46px;
    height: 8px;

    top: 89px;

    font-weight: 400;
    font-size: 22.4216px;
    line-height: 14px;
    margin: 0 0 0 46px;

    color: #FFFFFF;

}

.pizza-icon {
    position: absolute;
    width: 70px;
    height: 89px;
    top: 234px;
}

